[project]
	description = A python library used to centralize management of services deployed under Software Factory
[access "refs/*"]
  read = group managesf-core
  owner = group managesf-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group managesf-core
	label-Verified = -2..+2 group managesf-ptl
	label-Workflow = -1..+1 group managesf-core
	submit = group managesf-ptl
	read = group managesf-core
[access "refs/meta/config"]
    read = group managesf-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = rebase if necessary
